body{
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.table{
    width: 50%;
    margin: 0 auto;
}
.p1{
    font-size: larger;
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    margin-left: 25%;
    width: 50%;
    border: solid 5px black;
}
.p1 :hover{
    border: solid 5px red;
}
.ab{
    background-color: green;
    margin-bottom: 50px;
}
.uppenere{
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.slide1{
    height: 20%;
    width: 40%;
    margin-bottom: 130px;
    margin-left: 30%;
}
.eatsleep{
margin-bottom: 325px;
width: 60%;
margin: 0 auto;
border: solid 5px black;
}
